<section>
  <div class="page-header">
    <h1 ng-bind="vm.translation.translation"></h1>
  </div>
  <div class="pull-right" ng-show="vm.authentication.user.id == vm.translation.userId">
    <a class="btn btn-primary" ui-sref="translations.edit({ translationId: vm.translation.id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.translation.createdAt | date:'mediumDate'"></span>
      by
      <span ng-if="vm.translation.User" ng-bind="vm.translation.User.displayName"></span>
      <span ng-if="!vm.translation.User">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.translation.derivation"></p>
</section>
