<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <br>
    <div class="row">
      <p class="lead">
        <h2>Welcome <strong>{{authentication.user.displayName}}</strong> to the IDIOM Database.</h2>
        <h2>What would you like to do?</h2>
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" ui-sref="idioms.create">Add New Idiom</a>
        <a class="btn btn-primary btn-lg" ui-sref="idioms.list">Search Idiom DB</a>
        <a class="btn btn-primary btn-lg" href="/api/auth/signout" target="_self">Logout</a>
      </p>
    </div>
  </div>

</section>
