<section>
  <div class="page-header">
    <h1>{{vm.idiom.id ? 'Edit Idiom' : 'New Idiom'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.idiomForm" class="form-horizontal" novalidate>
      <fieldset>
        <div class="row">
          <div class="col-sm-8">
            <div class="form-group" show-errors>
              <label class="control-label" for="idiom">Idiom</label>
              <input name="idiom" type="text" ng-model="vm.idiom.idiom" id="idiom" class="form-control" placeholder="Enter Idiom ..." required>
              <div ng-messages="vm.form.idiomForm.idiom.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Idiom is required.</p>
              </div>
              <div ng-show="vm.error" class="text-danger">
                <strong ng-bind="vm.error"></strong>
              </div>
            </div>
          </div>

          <div class="col-sm-2 col-sm-offset-1">
            <div class="form-group">
              <label class="control-label" for="language">Language</label>
              <select name="language" id="language" ng-options="option.lang for option in vm.languages track by option.id" ng-model="vm.selectedLang" class="form-control">
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-8">
            <div class="form-group">
              <label class="control-label" for="derivation">Meaning</label>
              <textarea name="meaning" data-ng-model="vm.idiom.meaning" id="meaning" class="form-control" cols="20" rows="5" placeholder="Enter meaning here ..."></textarea>
            </div>
          </div>

          <div class="col-sm-2 col-sm-offset-1">
            <div class="form-group text-center">
              <img ng-src="{{vm.imageURL}}" class="img-thumbnail user-profile-picture">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-8">
            <div class="form-group">
              <label class="control-label" for="derivation">Derivation</label>
              <textarea name="derivation" data-ng-model="vm.idiom.derivation" id="derivation" class="form-control" cols="20" rows="5" placeholder="Enter derivation here ..."></textarea>
            </div>
          </div>

          <div class="col-sm-2 col-sm-offset-1" ng-show="vm.idiom.id">
            <div class="text-center form-group" ng-hide="vm.uploader.queue.length">
              <span class="btn btn-default btn-file">
                  Select Image <input type="file" nv-file-select uploader="vm.uploader">
              </span>
            </div>
            <div class="text-center form-group" ng-show="vm.uploader.queue.length">
              <button class="btn btn-primary" ng-click="vm.uploadProfilePicture();">Upload</button>
              <button class="btn btn-default" ng-click="vm.cancelUpload();">Cancel</button>
            </div>
            <div ng-show="success" class="text-center text-success">
              <strong>Profile Picture Changed Successfully</strong>
            </div>
          </div>
        </div>

        <div class="form-group">
          <button ng-click="vm.save(vm.form.idiomForm.$valid)" class="btn btn-success btn-lg">{{vm.idiom.id ? 'Update' : 'Create'}}</button>
          <button class="btn btn-success btn-lg" ng-click="newIdiom()">New Idiom</button>
          <button ui-sref="home" class="btn btn-success btn-lg">Cancel</button>

          <button
            custom-confirmation="remove()"
            custom-message="Are you sure want to remove idiom <strong>{{entry.translation | capitalize: all}}</strong> and all its 121 and equivalent translations?"
            class="btn btn-danger btn-lg pull-right"
            ng-show="vm.idiom.id">
            <i class="fa fa-trash-o"></i>
          </button>
        </div>

        <!-- 121 translation -->
        <div class="well">
        <div class="row" ng-show="vm.idiom.id">
          <div class="col-sm-8">
            <div class="form-group" show-errors>
              <label class="control-label" for="translation">Add 121 translations:</label>
              <input name="translation" type="text" ng-model="vm.translation.translation" id="translation" class="form-control" placeholder="Enter 121 translation ..." ng-Keyup="vm.translationRequired = false;vm.errorTranslation = '';">
              <div ng-show="vm.translationRequired" class="text-danger">
                <strong>121 translation is required.</strong>
              </div>
              <div ng-show="vm.errorTranslation" class="text-danger">
                <strong ng-bind="vm.errorTranslation"></strong>
              </div>
            </div>
          </div>

          <div class="col-sm-1">
            <div class="form-group">
              <label class="control-label" for="translationLanguage">Language</label>
              <select name="translationLanguage" id="translationLanguage" ng-options="option.lang for option in vm.languages track by option.id" ng-model="vm.selectedTranslationLang" class="form-control">
              </select>
            </div>
          </div>

          <div class="col-sm-1 col-sm-offset-1">
            <button class="btn btn-success btn-lg" ng-click="vm.saveTranslation(vm.form.idiomForm.$valid)">Add</button>
          </div>
          <div ng-show="vm.error.translation" class="text-danger">
            <strong ng-bind="vm.error.translation"></strong>
          </div>
        </div>
        <div class="row" ng-show="vm.idiom.id">
          <h4>List of 121 translations for the idiom:</h4>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Translation</th>
                <th>Language</th>
                <th>Delete action</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="entry in vm.translationsByIdiom">
                <td>{{entry.translation}}</td>
                <td>{{entry.language}}</td>
                <td>
                   <button
                        custom-confirmation="removeTranslation(entry.id)"
                        custom-message="Are you sure want to remove 121 translation <strong>{{entry.translation | capitalize: all}}</strong> language <strong>{{entry.language}}</strong>?"
                        class="btn btn-danger">
                      <i class="fa fa-trash-o"></i>
                    </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>

        <!-- Equivalent translation -->
        <div class="well">
        <div class="row" ng-show="vm.idiom.id">
          <div class="col-sm-8">
            <div class="form-group" show-errors>
              <label class="control-label" for="equivalent">Add an equivalent Idiom in other language:</label>
              <input name="equivalent" type="text" ng-model="vm.equivalent.equiv_idiom" id="equivalent" class="form-control" placeholder="Enter equivalent idiom ..." ng-Keyup="vm.equivalentRequired = false;vm.errorEquivalent = '';">
              <div ng-show="vm.equivalentRequired" class="text-danger">
                <strong>Equivalent idiom is required.</strong>
              </div>
              <div ng-show="vm.errorEquivalent" class="text-danger">
                <strong ng-bind="vm.errorEquivalent"></strong>
              </div>
            </div>
          </div>

          <div class="col-sm-1">
            <div class="form-group">
              <label class="control-label" for="equivalentLanguage">Language</label>
              <select name="equivalentLanguage" id="equivalentLanguage" ng-options="option.lang for option in vm.languages track by option.id" ng-model="vm.selectedEquivalentLang" class="form-control">
              </select>
            </div>
          </div>

          <div class="col-sm-1 col-sm-offset-1">
            <button class="btn btn-success btn-lg" ng-click="vm.saveEquivalent(vm.form.idiomForm.$valid)">Add</button>
          </div>
          <div ng-show="vm.error.equivalent" class="text-danger">
            <strong ng-bind="vm.error.equivalent"></strong>
          </div>
        </div>
        <div class="row" ng-show="vm.idiom.id">
          <h4>List of added equivalents idioms:</h4>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Equivalent idiom</th>
                <th>Language</th>
                <th>Delete action</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="entry in vm.equivalentsByIdiom">
                <td>{{entry.equiv_idiom}}</td>
                <td>{{entry.language}}</td>
                <td>
                   <button
                        custom-confirmation="removeEquivalent(entry.id)"
                        custom-message="Are you sure want to remove equivalent idiom <strong>{{entry.equiv_idiom | capitalize: all}}</strong> language <strong>{{entry.language}}</strong>?"
                        class="btn btn-danger">
                      <i class="fa fa-trash-o"></i>
                    </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>


      </fieldset>
    </form>
  </div>
</section>
