<section>
  <div class="page-header">
    <h1>Idioms</h1>
  </div>
       <div class="row well">
            <div class="col-sm-5">
                <div class="form-group">
                    <label class="control-label" for="searchIdiom">Search Idiom:</label>
                    <input type="text" id="searchIdiom" name="searchIdiom" value="" placeholder="Enter idiom keyword" class="form-control" ng-model="vm.searchKeyword.idiom" >
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                  <label class="control-label" for="language">Language</label>
                  <select name="language" id="language" ng-options="option.lang for option in vm.languages track by option.id" ng-model="vm.selectedLang" class="form-control" ng-change="vm.changeLang()">
                  </select>
                </div>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-primary" ng-click="vm.clearSearch()">Clear all</a>
            </div>
        </div>
    </div>
  <h3>Search result for: <b ng-bind="vm.searchKeyword.idiom"></b></h3>
  <table ng-table="vm.listIdiomTable" show-filter="true" class="table table-condensed table-bordered table-striped">
    <thead>
    <tr>
        <th ng-click="vm.order('id')" style="width:50px;cursor: pointer;">
          ID
          <span class="sortorder" ng-show="vm.predicate === 'id'" ng-class="{reverse:vm.reverse}"></span>
        </th>
        <th ng-click="vm.order('idiom')" style="width:200px;cursor: pointer;">
          Idiom
          <span class="sortorder" ng-show="vm.predicate === 'idiom'" ng-class="{reverse:vm.reverse}"></span>
        </th>
        <th ng-click="vm.order('language')" style="width:50px;cursor: pointer;">  Lang.
          <span class="sortorder" ng-show="vm.predicate === 'language'" ng-class="{reverse:vm.reverse}"></span>
        </th>
        <th ng-click="vm.order('translation')" style="width:200px;cursor: pointer;">
          121 Translation
          <span class="sortorder" ng-show="vm.predicate === 'translation'" ng-class="{reverse:vm.reverse}"></span>
        </th>
        <th ng-click="vm.order('translationLang')" style="width:200px;cursor: pointer;">
          121 Lang
          <span class="sortorder" ng-show="vm.predicate === 'translationLang'" ng-class="{reverse:vm.reverse}"></span>
        </th>
        <th ng-click="vm.order('imageURL')" style="width:200px;cursor: pointer;">
          Image
          <span class="sortorder" ng-show="vm.predicate === 'imageURL'" ng-class="{reverse:vm.reverse}"></span>
        </th>
        <th ng-click="vm.order('derivation')" style="width:200px;cursor: pointer;">
          Derivation
          <span class="sortorder" ng-show="vm.predicate === 'derivation'" ng-class="{reverse:vm.reverse}"></span>
        </th>
        <th ng-click="vm.order('meaning')" style="width:200px;cursor: pointer;">
          Meaning
          <span class="sortorder" ng-show="vm.predicate === 'meaning'" ng-class="{reverse:vm.reverse}"></span>
        </th>
        <th ng-click="vm.order('equivalent_count')" style="width:200px;cursor: pointer;">
          Native Equivalent
          <span class="sortorder" ng-show="vm.predicate === 'equivalent_count'" ng-class="{reverse:vm.reverse}"></span>
        </th>
        <th ng-click="vm.order('approved')" style="width:100px;cursor: pointer;">
          Approved
          <span class="sortorder" ng-show="vm.predicate === 'approved'" ng-class="{reverse:vm.reverse}"></span>
        </th>
        <th data-sort-ignore="true" style="width:100px;">
          Created By
        </th>
        <th data-sort-ignore="true" style="width:100px;">
          Modified By
        </th>
        <th class="text-right" data-sort-ignore="true">Action</th>
    </tr>
    </thead>
    <tbody ng-click="setSelected(entry.id)" ng-class="{selected: entry.id === idSelectedVote}" ng-repeat="entry in vm.data | orderBy:vm.predicate:vm.reverse">
      <tr>
        <td style="word-wrap:break-word;width:300px;text-align: left;">
          {{entry.id}}
        </td>
        <td style="word-wrap:break-word;width:500px;text-align: left;">
          {{entry.idiom}}
        </td>
        <td style="word-wrap:break-word;width:500px;text-align: left;">
          {{entry.language}}
        </td>
        <td style="word-wrap:break-word;width:500px;text-align: left;">
          {{entry.translation}}
        </td>
        <td style="word-wrap:break-word;width:500px;text-align: left;">
          {{entry.translationLang}}
        </td>
        <td style="word-wrap:break-word;width:500px;text-align: left;" ng-class="entry.imageURL ? '' : 'yellowcell' ">
          <div ng-show="entry.imageURL">Yes
            (<a href="#"><span ng-click="vm.openModal(entry.imageURL)">link</span></a>)
          </div>
          <div ng-hide="entry.imageURL">No</div>
        </td>
        <td style="word-wrap:break-word;width:500px;text-align: left;" ng-class="entry.derivation ? '' : 'yellowcell' ">
          <div ng-show="entry.derivation">Yes</div>
          <div ng-hide="entry.derivation">No</div>
        </td>
        <td style="word-wrap:break-word;width:500px;text-align: left;" ng-class="entry.meaning ? '' : 'yellowcell' ">
          <div ng-show="entry.meaning">Yes</div>
          <div ng-hide="entry.meaning">No</div>
        </td>
        <td style="word-wrap:break-word;width:500px;text-align: left;" ng-class="entry.equivalent_count ? '' : 'yellowcell' ">
          {{entry.equivalent_count}}
        </td>
        <td style="word-wrap:break-word;width:100px;text-align: center;">
          <div ng-show="entry.approved"><i class="glyphicon glyphicon-ok"></i></div>
        </td>
        <td style="word-wrap:break-word;width:100px;text-align: left;">
          <small><i>{{vm.findUser(entry.userId)}}</i></small>
        </td>
        <td style="word-wrap:break-word;width:100px;text-align: left;">
          <small><i>{{vm.findUser(entry.modifiedBy)}}</i></small>
        </td>
        <td class="text-right">
            <div class="btn-group">
              <table>
              <tr>
                <td>
                  <button ui-sref="idioms.edit({ idiomId: entry.id })"
                    class="btn btn-success pull-right">
                    <i class="fa fa-pencil-square-o"></i>
                  </button>
                </td>
                <td>&nbsp;&nbsp;</td>
                <td>
                  <button ui-sref="idioms.view({ idiomId: entry.id })"
                    class="btn btn-success pull-right">
                    <i class="fa fa-eye"></i>
                  </button>
                </td>
                <td>&nbsp;&nbsp;</td>
                <td>
                  <button
                    custom-confirmation="remove(entry.id)"
                    custom-message="Are you sure want to remove idiom <strong>{{entry.translation | capitalize: all}}</strong> and all its 121 and equivalent translations?"
                    class="btn btn-danger pull-right">
                    <i class="fa fa-trash-o"></i>
                  </button>
                </td>
              </tr>
              </table>
            </div>
        </td>
      </tr>
    <tbody>
  </table>
</section>
