<section>
  <div class="page-header">
    <h1>View Idiom</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.idiomForm" class="form-horizontal" novalidate>
      <fieldset>
        <div class="row">
          <div class="col-sm-8">
            <div class="form-group" show-errors>
              <label class="control-label" for="idiom">Idiom</label>
              <input name="idiom" type="text" ng-model="vm.idiom.idiom" id="idiom" class="form-control" disabled>
            </div>
            <div class="form-group">
              <label class="control-label" for="language">Language</label>
              <input name="language" type="text" ng-model="vm.idiom.language" id="language" class="form-control" disabled>
              </select>
            </div>
          </div>
          <div class="col-sm-2 col-sm-offset-1">

            <div class="row">
              <div class="form-group text-center">
                <a href="#">
                  <img ng-src="{{vm.idiom.imageURL}}" class="img-thumbnail user-profile-picture" ng-click="vm.openModal(vm.idiom.imageURL)">
                </a>
              </div>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-sm-3">
            <button ui-sref="idioms.list()" class="btn btn-success btn-lg">
              Close
            </button>
          </div>

          <div class="col-sm-5">
            <button class="btn btn-success btn-lg" ng-click="vm.prev()" ng-disabled="vm.isFirst === true">
              < Prev
            </button>
            <button class="btn btn-success btn-lg" ng-click="vm.next()" ng-disabled="vm.isLast === true">
              Next >
            </button>
            <button class="btn btn-success btn-lg" ng-click="vm.random()">
              Random
            </button>
           </div>

          <div class="col-sm-2" disabled>
            <input type="checkbox" name="approved" ng-model="vm.idiom.approved" disabled>
            Ready
          </div>

           <div class="col-sm-2">
             <button ui-sref="idioms.edit({ idiomId: vm.idiom.id })" class="btn btn-success btn-lg pull-right">
              <i class="fa fa-pencil-square-o"></i>
             </button>
           </div>
        </div>

        <!-- Meaning -->
        <br>
        <br>
        <hr style="height:1px;border:none;color:#333;background-color:#333;"/>
        <b class="lead">Meaning</b>
        <span>
          <button class="btn btn-success btn-sm pull-right" ng-click="vm.showMeaning = !vm.showMeaning"> + / - </button>
        </span>

        <div class="well" ng-show='vm.showMeaning === true'>
          <div class="row" ng-show="vm.idiom.id">
            <textarea name="meaning" data-ng-model="vm.idiom.meaning" id="meaning" style="border:none;" class="form-control" cols="20" rows="5" disabled></textarea>
          </div>
        </div>

        <!-- Derivation -->
        <br>
        <br>
        <hr style="height:1px;border:none;color:#333;background-color:#333;"/>
        <b class="lead">Derivation</b>
        <span>
          <button class="btn btn-success btn-sm pull-right" ng-click="vm.showDerivation = !vm.showDerivation"> + / - </button>
        </span>

        <div class="well" ng-show='vm.showDerivation === true'>
          <div class="row" ng-show="vm.idiom.id">
            <textarea name="derivation" data-ng-model="vm.idiom.derivation" id="derivation" style="border:none;" class="form-control" cols="20" rows="5" disabled></textarea>
          </div>
        </div>


        <!-- 121 translation -->
        <br>
        <br>
        <hr style="height:1px;border:none;color:#333;background-color:#333;"/>
        <b class="lead">121 translations</b>
        <span>
          <button class="btn btn-success btn-sm pull-right" ng-click="vm.show121 = !vm.show121"> + / - </button>
        </span>

        <div class="well" ng-show='vm.show121 === true'>
        <div class="row" ng-show="vm.idiom.id">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Language</th>
                <th>Translation</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="entry in vm.translationsByIdiom">
                <td>{{entry.language}}</td>
                <td>{{entry.translation}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>

        <!-- Equivalent translation -->
        <br>
        <br>
        <hr style="height:1px;border:none;color:#333;background-color:#333;"/>
        <b class="lead">Native equivalents</b>
        <span>
          <button class="btn btn-success btn-sm pull-right" ng-click="vm.showEquiv = !vm.showEquiv"> + / - </button>
        </span>

        <div class="well" ng-show='vm.showEquiv === true'>
        <div class="row" ng-show="vm.idiom.id">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Language</th>
                <th>Equivalent idiom</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="entry in vm.equivalentsByIdiom">
                <td>{{entry.language}}</td>
                <td>{{entry.equiv_idiom}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>

      </fieldset>
    </form>
  </div>
</section>
