.yellowcell {
  background-color: #f0ad4e;
}
.sortorder::after {
    content: "▲";
}
.sortorder.reverse::after {
    content: "▼";
}
.idiom-picture {
  height: 100%;
  width: 100%;
}
.changed-field {
  border: 1px solid red;
}